@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&display=swap');

body {
    font-size: 1em;
    font-family: sans-serif;
    background-color: #333333;
    color: saddlebrown;
}

button, a.button {
    font-size: 1em;
    font-family: sans-serif;
    background-color: #411a1a;
    color: #e3b809;
    margin-right: 12px;
    padding: 0.5em;
}

#map {
    transform: translate(-50%, -50%) scale3d(2,2,2);
    background: #333333;
    width: 744px;
    height: 504px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../sprites/rock.png) 0 0 repeat;
    image-rendering: crisp-edges;
}

.tile {
    background: url(../sprites/rock_tile.png) -11px -26px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

}

.wall {
    /* background: url(../sprites/rock_tile.png) -0px -0px;*/
    background-color: rgba(0, 0, 0, 0.60);
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    border: 1px outset rgba(255, 255, 255, 0.4);
    image-rendering: crisp-edges;

}

#output, #gold, #inventory {
    font-family: 'Cormorant Unicase', serif;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(25, 12, 0) 15%, rgb(100, 50, 0));
    color: darkgoldenrod;
    position: absolute;
    padding: 0.25em;
}

#output {
    top: 24px;
    right: 24px;
    width: 180px;
    height: 480px;

}

#gold {

    top: 24px;
    left: 24px;
    width: 180px;
    height: 60px;

}

#inventory {

    top: 120px;
    left: 24px;
    width: 180px;
    height: 360px;

}

#actions {
    display: none;
    text-align: center;
    padding: 12px;
    position: absolute;
    bottom: 24px;
    width: 70%;
    background: rgba(64, 64, 64, 0.25);
}

.arrow {
    width: 40px;
    height: 40px;
    margin: 0;

}

#hero {
    background: url(../sprites/knight.png) 0 0;
    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-left: -6px;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: crisp-edges;
}

#princess {

    background: url(../sprites/princessDana.png) -16px -64px;
    width: 16px;
    height: 32px;
    margin-top: -8px;
    margin-left: 3px;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: crisp-edges;
}

/*#princess.rescued {*/
/*    background: url(../sprites/princessDana.png) -px -64px;*/

/*}*/

.monster {
    background: url(../sprites/troll.png) 0 0;
    background-position-x: 0px;
    background-position-y: 90px;
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-left: -7px;
    z-index: 150;
    position: absolute;
    left: 48px;
    top: 0;
    image-rendering: crisp-edges;
}

.coin {
    background: url(../sprites/coin.png) 0 0;
    background-position-x: 0px;
    background-position-y: -16px;
    width: 16px;
    height: 16px;
    margin-top: 8px;
    margin-left: 4px;
    z-index: 150;
    position: absolute;
    left: 48px;
    top: 0;
    image-rendering: crisp-edges;
}
