@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&display=swap');

body {
    font-size: 1em;
    font-family: sans-serif;
    background-color: #333333;
    color: saddlebrown;
}

button, a.button {
    font-size: 1em;
    font-family: sans-serif;
    background-color: #411a1a;
    color: #e3b809;
    margin-right: 12px;
    padding: 0.5em;
}

#map {
    transform: translate(-50%, 0);
    background: #333333;
    width: 744px;
    height: 504px;
    position: absolute;
    left: 50%;
    top: 24px;

}

.tile {
    background: url(../sprites/tileset2.png) 0 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#output, #gold, #inventory {
    font-family: 'Cormorant Unicase', serif;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(25, 12, 0) 15%, rgb(100, 50, 0));
    color: darkgoldenrod;
    position: absolute;
    padding: 0.25em;
}

#output {
    top: 24px;
    right: 24px;
    width: 180px;
    height: 480px;

}

#gold {

    top: 24px;
    left: 24px;
    width: 180px;
    height: 60px;

}

#inventory {

    top: 120px;
    left: 24px;
    width: 180px;
    height: 360px;

}

#actions {
    text-align: center;
    padding: 12px;
    position: absolute;
    bottom: 24px;
    width: 70%;
    background: rgba(64, 64, 64, 0.25);
}

.arrow {
    width: 40px;
    height: 40px;
    margin: 0;

}

#hero {
    background: url(../sprites/knight.png) 0 0;
    width: 24px;
    height: 32px;
    margin-top: -6px;
    z-index: 200;
    position: absolute;
    left: 0;
    top: 0;

}

.monster {
    background: url(../sprites/troll.png) 0 0;
    width: 32px;
    height: 32px;
    margin-top: -12px;
    margin-left: -6px;
    z-index: 150;
    position: absolute;
    left: 48px;
    top: 0;
}
